<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (profileInfo) {
      <div>
        <h2 data-cy="profileInfoDetailsHeading"><span>Profile Info</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Profile Number</span></dt>
          <dd>
            <span>{{ profileInfo.profileNumber }}</span>
          </dd>
          <dt><span>User Id</span></dt>
          <dd>
            <span>{{ profileInfo.userId }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/profile-info', profileInfo.profileNumber, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
