<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    @if (account !== null) {
      <div>
        <div class="alert alert-success">
          @if (account) {
            <h1 class="display-4">
              <span>Welcome, {{ account.login }}!</span> (Bankx)
            </h1>
            <span id="home-logged-message">You can perform the operations listed below</span>
            <p class="lead">List Of Operations:</p>
          }
        </div>
        @if (account) {
          <button
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-transaction-log"
            [routerLink]="['/transaction-log/new']"
          >
            <fa-icon icon="plus"></fa-icon>
            <span>Perform Transaction</span>
          </button>
        }
      </div>
    } @else {
      <div class="alert alert-warning">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">sign in</a
        ><span
          >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User
          (login=&quot;user&quot; and password=&quot;user&quot;).</span
        >
      </div>

      <div class="alert alert-warning">
        <span>You don&apos;t have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="/account/register">Register a new account</a>
      </div>
    }
  </div>
</div>
