<div>
  <h2 id="page-heading" data-cy="BankInfoHeading">
    <span>Bank Infos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bank-info"
        [routerLink]="['/bank-info/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Bank Info</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (bankInfos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Bank Infos found</span>
    </div>
  }

  @if (bankInfos && bankInfos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="swiftCode">
              <div class="d-flex">
                <span>Swift Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bankName">
              <div class="d-flex">
                <span>Bank Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (bankInfo of bankInfos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/bank-info', bankInfo.id, 'view']">{{ bankInfo.id }}</a>
              </td>
              <td>{{ bankInfo.swiftCode }}</td>
              <td>{{ bankInfo.bankName }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/bank-info', bankInfo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/bank-info', bankInfo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(bankInfo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
