<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (bankInfo) {
      <div>
        <h2 data-cy="bankInfoDetailsHeading"><span>Bank Info</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ bankInfo.id }}</span>
          </dd>
          <dt><span>Swift Code</span></dt>
          <dd>
            <span>{{ bankInfo.swiftCode }}</span>
          </dd>
          <dt><span>Bank Name</span></dt>
          <dd>
            <span>{{ bankInfo.bankName }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/bank-info', bankInfo.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
